body {
  font-family: 'FiraSans';
  font-weight: 300;
  font-size: 16px;
  color: #ffffff;
  background-color: $main-bg;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  &:hover {
    text-decoration: none;
    color: #ffffff;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.subtitle-main {
  font-size: 40px;
  font-weight: 800;
  line-height: 1;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 30px;
}

.suptitle-left,
.suptitle-right {
  position: relative;
  display: inline-block;
  color: $sup;
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 7.33px;
  text-transform: uppercase;
}

.suptitle-left::before {
  content: '';
  position: absolute;
  background-color: $sup;
  height: 1px;
  width: 80px;
  top: 50%;
  left: -23px;
  transform: translateX(-100%);
}

.suptitle-right::before {
  content: '';
  position: absolute;
  background-color: $sup;
  height: 1px;
  width: 80px;
  top: 50%;
  right: -23px;
  transform: translateX(100%);
}

.section__title {
  display: inline-block;
  font-size: 80px;
  font-weight: 800;
  line-height: 1;
  text-transform: uppercase;
  position: relative;
  &::before {
    position: absolute;
    display: block;
    content: '';
    top: -5px;
    right: 0;
    width: 80px;
    height: 1px;
    background-color: $accent;
  }
}
.section__title-back {
  font-weight: 800;
  font-size: 200px;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.02;
  &_header {
    opacity: 0.07;
  }
  &_surf,
  &_travel {
    position: absolute;
    top: 5px;
    left: -290px;
  }
}

// Slider buttons
.slider-prev,
.slider-next {
  position: absolute;
  top: 55px;
  right: 82px;
  cursor: pointer;
  z-index: 1;
  opacity: 0.25;
}

.slider-prev {
  right: 125px;
}

.slider-prev_header,
.slider-next_header {
  top: 35px;
  opacity: 1;
}

.slider-prev_travel,
.slider-next_travel {
  top: 320px;
}

.btn-box {
  display: block;
  font-size: 40px;
  line-height: 1;
  font-weight: 800;
  text-transform: uppercase;
  img {
    display: inline-block;
  }
  &__first {
    display: inline-block;
    position: relative;
    margin-right: 10px;
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: -30px;
      width: 20px;
      height: 1px;
      background-color: #ffffff;
    }
  }
  &__second {
    display: inline-block;
    padding: 20px;
    background-color: $accent;
  }
  &__arrow {
    display: inline-block;
    padding-left: 15px;
  }
  
  // Button: Surf section button
  &_surf {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
  }

  // Button: Travel section
  &_travel {
    text-align: center;
  }
}