.header {
  position: relative;
  &__title {
    position: absolute;
    top: 0;
    left: -20px;
    z-index: 1;
    max-width: 470px;
  }
  &__aside {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 168px;
    width: 100%;
    height: 100vh;
    border-right: 1px solid rgba(255, 255, 255, .25); 
    z-index: 1;
    text-align: center;
    }

  &__logo {
    margin-bottom: 70px;
    &-img {
      max-width: 168px;
      max-height: 290px;
      width: 100%;
      height: 100%;
    }
  }

  &__search {
    margin-bottom: 20px;
  }

  &__date {
    color: #ffffff;
    margin-bottom: 30px;
    &-day {
      font-size: 72px;
      font-weight: 800;
      line-height: 64px;
      margin-bottom: 10px;
    }
    &-month,
    &-year {
      position: relative;
      display: inline-block;
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 1.4px;
    }
    &-month::after {
      position: absolute;
      content: "";
      top: 2px;
      right: -8px;
      width: 1px;
      height: 15px;
      background-color: #ffffff;
    }
    &-year {
      margin-left: 13px;
    }
  }

  &__location {
    &-img {
      display: inline-block;
      max-width: 11px;
      max-height: 14px;
      margin-right: 6px;
    }

    &-name {
      display: inline-block;
      color: #ffffff;
      font-size: 12px;
      font-weight: 300;
      line-height: 14px;
      letter-spacing: 1.05px;
    }
  }

  &__map {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    &-dot-1 {
      animation-delay: 500ms
    }
  }

  &__slider {
    &-item {
      height: 100vh;
      background: url(../img/header/header-bg-main.jpg) center (center/cover) no-repeat #394a50;
    }
  }

  &-slide-next,
  &-slide-prev {
    position: absolute;
    top: 35px;
    right: 82px;
    cursor: pointer;
    z-index: 1;
  }

  &-slide-prev {
    right: 125px;
  }
}

.menu {
  margin-bottom: 38px;
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 37px;
    &:last-child {
      margin-bottom: 0;
    }
    &-img {
      display: block;
      max-width: 60px;
      max-height: 50px;
      margin: 0 auto;
      margin-bottom: 7px;
    }
    &-name {
      display: block;
      color: #ffffff;
      font-size: 12px;
      font-weight: 500;
      line-height: 14px;
      text-align: center;
      letter-spacing: 3px;
    }
  }
}

.button__next-section {
  position: absolute;
  bottom: 45px;
  left: 210px;
  z-index: 1;
  animation-duration: 1s;
  // animation-delay: 5s;
  animation-iteration-count: infinite;
  &-img {
    max-width: 21px;
    max-height: 24px;
  }
}

.slider-item {
  &__info {
    color: #ffffff;
    text-align: right;
    position: absolute;
    right: 80px;
    bottom: 115px;
    &-suptitle {
      margin-bottom: 20px;
    }
    &-title {
      font-size: 80px;
      font-weight: 800;
      line-height: 86px;
      text-transform: uppercase;
      margin-bottom: 50px;
    }
    &-name {
      font-size: 40px;
      font-weight: 800;
      line-height: 1;
      text-transform: uppercase;
      margin-bottom: 30px;
    }
    .info-link__image {
      display: inline-block;
    }
    &-link {
      margin-bottom: 20px;
    }

  }
}

.slider-dots {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  bottom: 45px;
  right: 82px;
  color: #ffffff;
  .slick-current {
    .slider-dots-box {
      border-top-color: $accent;
    }
  }
  &__item {
    min-width: 200px;
    width: 100%;
    padding-top: 6px;
    margin-right: 40px;
    &:last-child {
      margin-right: 0;
    }
  }

  &-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 4px solid #ffffff;
  }

  &__num {
    display: inline-block;
    font-size: 24px;
    font-weight: 800;
    line-height: 34px;
    text-transform: uppercase;
  }

  &__title {
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    margin-left: auto;
  }
}